<div class="wrapper">
<div class="rgtContent">
	<div class="logo">&nbsp;</div>
	<div class="captionTxt">THE BIGGEST BIRTHDAY CARD EVER MADE FOR RAJINI!</div>
	<% if(this.messageflag == 1) { %>
	<div class="fbSection" style="margin-top:31px;">
    	<div class="fbTxt">Your birthday wish for Rajini</div>
    	<form id="submit_message" name="submit_message">
			
			<div id="messagewrapper" style="-webkit-box-shadow: #999 0px 5px 10px;box-shadow: #999 0px 5px 10px;background-color: white;width: 377px;height: 137px;"><textarea id="message" type="text" name="message" style="border: 1px solid rgb(121, 191, 255);width: 365px;height: 125px;background-color: rgb(242, 252, 255);padding: 5px;" placeholder="Wish Rajini and become part of the biggest birthday wish ever made to Rajini!"></textarea></div>
			<div id="charlength" style="font-size: 12px;width: 50px;margin-left: 355px;margin-top: 15px;">200</div>
		</form>
	</div>
	<div class="resultSection" style="margin-top:10px;">
		<button id="signcard" class="signcard">Sign Card</button>
	</div>
	<% } else { %>
	<div class="fbSection" style="margin-top:31px;">
		<div class="captionTxt" style="margin: 0px;margin-top: 31px;color: #E14022;font: 24px 'RobotoRegular', Arial, sans-serif;"><b>Thank you <%= this.member.attributes.firstname %></b>,<br />We just put your message and your name on the birthday card we are making! Meanwhile get your friends to send in their wishes!</div>
	</div>
	<div class="resultSection" style="margin-top:10px;">
	</div>
	<% } %>
    <div class="rajiniQuote">
    	<div class="quote">Naan solrathaiyum seiven, sollathathiyum seiven.  (I will do what I say, I will also do what I don't say.)</div>
        <div class="filmName">Annamalai (1992)</div>
    </div>
    <div class="poweredby">
    	Powered by <b>Rajini Fans</b>
    </div>
</div>
<div class="lftContent">
    <div class="hitCounter">
            <div class="countNo"><%= 121 + this.message_s.attributes.count %></div>
             <div class="wishTxt">WISHES</div>
              <div class="countingTxt">&amp; counting!</div>
        </div>
</div>

</div>
