<img class="logoimg" alt="Emoticards" src="images/logo.png" />
<div class="userbox">
<img src="http://graph.facebook.com/<%= this.member.attributes.fbuid %>/picture" />
<div><%= this.member.attributes.firstname %> <%= this.member.attributes.lastname %></div>
</div>
