<img class="logoimg" alt="Emoticards" src="images/logo.png" />
<div class="userbox">
<img src="http://graph.facebook.com/<%= this.member.attributes.fbuid %>/picture" />
<div><%= this.member.attributes.firstname %> <%= this.member.attributes.lastname %></div>
</div>
<br />
<br />
<br />
<br />
<form class="form-horizontal" id="submit_message" name="submit_message">
<textarea id="reason" type="text" name="reason" style="margin-top:15px;color:#E43B3B;font-weight:bold;width: 713px;height: 102px;" placeholder="Wish Rajini and become part of the biggest birthday wish ever made to Rajini!"></textarea>
<div id="charlength">140 Characters Left</div>
<br />
<br />
</form>
<button id="fbwallpost">Wall Post</button>
<br />
<br />


