<div class="wrapper">
<div class="rgtContent">
	<div class="logo">&nbsp;</div>
	<div class="captionTxt">THE BIGGEST BIRTHDAY CARD EVER MADE FOR RAJINI.</div>
    <div class="fbSection">
    	<div class="fbTxt">Sign the card using</div>
    	<a href="/auth/facebook" class="btnFB"><img src="images/btnFB.png" /></a>
    </div>
	<div class="resultSection">We will make a real card with all your name and wish...</div>
    <div class="rajiniQuote">
    	<div class="quote">Naan solrathaiyum seiven, sollathathiyum seiven.  (I will do what I say, I will also do what I don't say.)</div>
        <div class="filmName">Annamalai (1992)</div>
    </div>
</div>
<div class="lftContent">
    <div class="hitCounter">
            <div class="countNo">90,000</div>
             <div class="wishTxt">WISHES</div>
              <div class="countingTxt">&amp; counting</div>
        </div>
</div>

</div>







<!--<img class="logoimg" alt="Emoticards" src="images/logo.png" />
<div class="userbox">
<img src="http://graph.facebook.com/<%= this.member.attributes.fbuid %>/picture" />
<div><%= this.member.attributes.firstname %> <%= this.member.attributes.lastname %></div>
</div>

<br />
<br />
<br />
<br />
<form class="form-horizontal" id="submit_message" name="submit_message">
<textarea id="reason" type="text" name="reason" style="margin-top:15px;color:#E43B3B;font-weight:bold;width: 713px;height: 102px;" placeholder="Wish Rajini and become part of the biggest birthday wish ever made to Rajini!"></textarea>
<div id="charlength">140 Characters Left</div>
<br />
<br />
</form>
<button id="fbwallpost">Wall Post</button>
<br />
<br />-->




