
<div class="wrapper">
<div class="rgtContent">
	<div class="logo">&nbsp;</div>
	<div class="captionTxt">THE BIGGEST BIRTHDAY CARD EVER MADE FOR RAJINI!</div>
    <div class="fbSection">
    	<div class="fbTxt">Sign the card using</div>
    	<a href="/auth/facebook" class="btnFB"><img src="images/btnFB.png" /></a>
    </div>
	<div class="resultSection" style="font:22px 'RobotoRegular', Arial, sans-serif;">Your wish and your sign will be printed on an actual birthday card and passed on to the Superstar!</div>
    <div class="rajiniQuote">
    	<div class="quote">En Vazhi Thani Vazhi<br /><i style=\"font-size: 14px;\">My way is a unique way</i></div>
        <div class="filmName"> Padayappa (1999)</div>
    </div>
    <div class="poweredby">
    	Powered by <b>Rajini Fans</b>
    </div>
</div>
<div class="lftContent">
    <div class="hitCounter">
            <div class="countNo"><%= 121 + this.message_s.attributes.count %></div>
             <div class="wishTxt">WISHES</div>
              <div class="countingTxt">&amp; counting!</div>
    </div>
    <div class="fbfacepile">
        <center>Your friends who just signed...</center>
    	<fb:facepile app_id="515062801861982" width="275" max_rows="3"></fb:facepile>
    </div>
</div>

</div>
