<div class="wrapper">
<div class="rgtContent">
	<div class="logo">&nbsp;</div>
	<div class="captionTxt">THE BIGGEST BIRTHDAY CARD EVER MADE FOR RAJINI.</div>
    <div class="fbSection">
    	<div class="fbTxt">Sign the card using</div>
    	<a href="/auth/facebook" class="btnFB"><img src="images/btnFB.png" /></a>
    </div>
	<div class="resultSection">We will make a real card with all your name and wish...</div>
    <div class="rajiniQuote">
    	<div class="quote">Naan solrathaiyum seiven, sollathathiyum seiven.  (I will do what I say, I will also do what I don't say.)</div>
        <div class="filmName">Annamalai (1992)</div>
    </div>
</div>
<div class="lftContent">
    <div class="hitCounter">
            <div class="countNo">90,000</div>
             <div class="wishTxt">WISHES</div>
              <div class="countingTxt">&amp; counting</div>
        </div>
</div>

</div>