<div class="splashScreen">
<img src="images/emoticards.png" alt="Emoticards - Express Emotionally" title="Emoticards - Express Emotionally" />
<div class="connectSocial"><a class="btnFB" href="/auth/facebook"><img src="images/spacer.gif" /></a></div>
</div>
