
<div class="wrapper">
<div class="rgtContent">
	<div class="logo">&nbsp;</div>
	<div class="captionTxt">THE BIGGEST BIRTHDAY CARD EVER MADE FOR RAJINI.</div>
    <div class="fbSection">
    	<div class="fbTxt">Sign the card using</div>
    	<a href="/auth/facebook" class="btnFB"><img src="images/btnFB.png" /></a>
    </div>
	<div class="resultSection">We will make a real card with all your name and wish...</div>
    <div class="rajiniQuote">
    	<div class="quote">En Vazhi Thani Vazhi , Seendaatha</div>
        <div class="filmName"> Padayappa (1999)</div>
    </div>
</div>
<div class="lftContent">
    <div class="hitCounter">
            <div class="countNo"><%= 121 + this.message_s.attributes.count %></div>
             <div class="wishTxt">WISHES</div>
              <div class="countingTxt">&amp; counting</div>
        </div>
</div>

</div>
