<div class="splashScreen">
<img src="images/emoticards.png" alt="Emoticards - Express Emotionally" title="Emoticards - Express Emotionally" />
<div class="connectSocial"><a class="btnFB" href="/auth/facebook"><img src="images/spacer.gif" /></a></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="I Just signed on the biggest B'Day card ever made for RAJINI" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
