@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{font: 18px 'RobotoRegular', Arial, sans-serif; overflow:hidden; background:#333;}
a img{border:0;}
.wrapper{display:block; overflow:hidden; background:#fff; width:1310px; margin:0 auto;}
.rgtContent{display:block; overflow:hidden; width:1010px; background:asset-url("wishrajini.jpg", images) top right no-repeat; min-height:768px; float:right; position:relative;}
.lftContent{display:block; overflow:hidden; width:300px; float: right; min-height:768px; position:relative; background:asset-url("Rajini_fans.png", images); }
.logo{display:block; overflow:auto; background:asset-url("txt_wishRajini.png", images) 0 0; width:289px; height:248px; margin:40px 0 0 40px;}
.rgtContent .captionTxt{width:420px; margin:50px 0 0 40px; font: 24px 'RobotoBold', Arial, sans-serif;}
.fbSection{display:block; overflow:hidden; margin:40px 0 0 40px;}
.fbSection .fbTxt{ margin-bottom:10px;}
.resultSection{width:340px; margin:40px 0 0 40px;font: 24px 'RobotoRegular', Arial, sans-serif;}
.rajiniQuote{display:block; overflow:hidden; width:410px; background:asset-url("transPixelW.png", images) repeat; padding:20px; position:absolute; right:0; top:450px;}  
.rajiniQuote .quote{font: 20px 'RobotoRegular', Arial, sans-serif;}
.rajiniQuote .filmName{font: 24px 'RobotoBold', Arial, sans-serif; margin-top:10px;}

.hitCounter{display:block; overflow:hidden; width:280px; background:asset-url("transPixelW.png", images) repeat; padding:20px; position:absolute; right:0; top:100px;}  
.hitCounter .countNo{font: 48px 'RobotoRegular', Arial, sans-serif; color:#e14022; text-align:right;}
.hitCounter .wishTxt{font: 30px 'RobotoRegular', Arial, sans-serif; margin-top:5px; text-align:right;}
.hitCounter .countingTxt{font: 20px 'RobotoRegular', Arial, sans-serif; margin-top:5px; text-align:right;}

.fbfacepile{display:block; overflow:hidden; width:280px; opacity: 1; background-color: #FFFFFF; padding:20px; position:absolute; right:0; top:450px;}  

.poweredby{display:block; overflow:hidden; width:250px; background:asset-url("transPixelW.png", images) repeat; padding:5px; position:absolute; right:0; top:653px;}

.likeribbon{display:block; overflow:hidden; width:250px; padding:5px; position:absolute; right:0; top:653px;}

.signcard {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}.signcard:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}.signcard:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
